* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

:root
{
  font-size: 16px;
}

body 
{
  margin: auto;
  width: 90%;
  height: auto;
  background: #cad2c5;
  color: #2f3e46;
}

#container 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

ul
{
  list-style: none;
}

a 
{
  padding: 0.3rem;
  text-decoration: none;
  color: #cad2c5;
}

aside
{
  width: 15%;
  height: auto;
  padding-top: 3rem;
  background: #84a98c;
  background-image: url("../img/lateral.jpeg");
}

aside a 
{
  color:  #cad2c5;
  background-color: #2f3e46;
  border-radius: 0.3rem;
}

#lista-desplazable
{
  margin-top: 3rem;
  top: 3rem;
  position: sticky;
}

#botonCerrar
{

  margin: 0.6rem 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #ff5722;
  color: #d9d9d9;
}

li 
{
  text-decoration: none;
  margin: 1rem;
}

header 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #354f52;
  color: #cad2c5;
}

#div-logo
{
  width: 25%;
  height: auto;
}

#foto-logo {
  width: 9.4rem;
  height: 9.4rem;
  padding: 0.6rem;
}

#title
{
  width: 75%;
  height: auto;
}

h1
{
  font-size: 3rem;
  font-weight: bold;
}

nav
{
  padding: 0.6rem;
  display: flex;
  justify-content: end;
  width: 100%;
  height: auto;
  background: #354f52;
}

main{
  width: 85%;
  height: auto;
}

section
{
  margin: 3rem 0.6rem;
}

h2{
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px black;
  color: #ff5722;
}

p {
display: flex;
  padding: 0.6rem 0.6rem, 1.2rem 0.6rem;
}

.div-subtitulos {
  width: 100%;
  height: 9.3rem;
  margin: 1.2rem 0rem 3rem 0rem;
  background: #2f3e46;
}

.contenedor-articulo
{
  padding: 0.6rem 0.6rem 1.2rem 0.6rem;
  display: flex;
  flex-direction: row;
}

.fotos
{
  width: 12.5rem;
  height: 12.5rem;
  margin: 0.3rem;
}

#tarjetas
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta
{
  margin: 0.6rem;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 31rem;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  transition: transform 0.3s
}

.tarjeta:hover
{
  transform: scale(1.05);
}

.tarjetaOscura
{
  background: #2f3e46;
  color: #d9d9d9;
}

.tarjetaClara
{
  background: #d9d9d9;
  color: #2f3e46;
}

.foto-tarjeta
{
  display: inline-block;
  width: 12.5rem;
  height: 12.5rem;
}

.parrafo-tarjeta
{
  display: inline-block;
  width: 15.5rem;
  height: 15.5rem;
  padding: 0.6rem;
}

.parrafo-tarjeta:hover
{
  color: #d9d9d9;
}

#sobre-mi {
  background-image: url("../img/sobremi.jpeg");
  background-size: cover;
}

#proyectos {
  background-image: url("../img/proyectos.jpeg");
  background-size: cover;

}

#tecnologias {
  background-image: url("../img/tecnologias.jpeg");
  background-size: cover;
}

#peliculas {
  background-image: url("../img/viaje.jpeg");
  background-size: cover;
}

.li-proyectos
{
  color: orangered;
}

#zona-peliculas
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#zona-peliculas h2 
{
  color: orangered;
}

.contenedor-peliculas
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#tabla
{
  display: grid;
  grid-template-columns: 6.5rem 6.5rem 6.5rem;
  grid-template-rows: 3rem 2rem 2rem 2rem;
  justify-content: center;
}

.grid-item-titulo
{
  padding: 0.3rem;
  font-weight: bold;
  background: #84a98c;
  border: #2f3e46 1px solid;
}

.grid-item{
  padding: 0.3rem;
  border: #2f3e46 1px solid;
}

#contacto
{
  margin: auto;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.parrafoError
{
  padding: 0.3rem;
  color: #ff5722;
}

.button-form
{
  padding: 0.6rem 1.8rem;
  border-radius: 5px;
  color: #d9d9d9;
  background: #2f3e46;
} 

footer{
  padding: 3rem;
  width: 100%;
  height: auto;
  color: #d9d9d9;
  background-color: black;
}

@media (min-width: 650px) and (max-width: 880px)
{
  aside
  {
    display: none;
  }

  main
  {
    width: 100%;
  }
}

@media (max-width:649px) 
{
  :root {
    font-size: 12px;
  };

  header
  {
  flex-direction: column;
  }

  nav{
    flex-direction: column;
  }

  .contenedor-articulo
  {
    flex-direction: column;
  }

  aside
  {
    display: none;
  }

  main
  {
    width: 100%;
  }
}
